@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "proxima-nova","helvetica", sans-serif;
}


h2 {
  font-weight: lighter;
  color: #f78373;
  margin-top: 0;
  line-height: 1.5;
  font-size: 1.8em;
}

.centered-navigation {
  background-color: #fff;
  min-height: 60px;
  width: 100%;
  z-index: 9999;
}

.home {
  background-color: transparent;
  border-bottom: none;
}

.centered-navigation .mobile-logo {
  display: inline;
  float: left;
  max-height: 60px;
  padding-left: 1em;
  color: #807c9e;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.5em;
  padding-top: 23px;
}

.centered-navigation .mobile-logo span {
  color: #F78373;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation .mobile-logo {
    display: none;
  }
}

.centered-navigation .centered-navigation-mobile-menu {
  color: rgb(133, 130, 154);
  display: block;
  float: right;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation .centered-navigation-mobile-menu {
    display: none;
  }
}

.centered-navigation .centered-navigation-mobile-menu:focus,
.centered-navigation .centered-navigation-mobile-menu:hover {
  color: #807c9e;
}

.centered-navigation .centered-navigation-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 999;
  padding: 0 2% 0 2%;
}

.centered-navigation .centered-navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.centered-navigation .centered-navigation-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.centered-navigation ul.header-menu {
  -webkit-transform-style: preserve-3d;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  clear: both;
  display: none;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 99999;
  padding-top: 4em;
}

.centered-navigation ul.header-menu.show {
  display: block;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation ul.header-menu {
    display: block;
    text-align: left;
  }
}

.centered-navigation ul li.nav-link {
  background: #fff;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: 1em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}

.centered-navigation ul li.nav-link a {
  color: rgb(133, 130, 154);
  display: inline-block;
  outline: none;
  text-decoration: none;
}

.centered-navigation ul li.social a {
  display: inline-block;
  color: transparent;
  width: 15px;
  height: 15px;
  margin-left: 0;
}

.centered-navigation ul li.nav-link a img {
  width: 40px;
  border-radius: 50%;
}

.centered-navigation ul li.nav-link a:focus,
.centered-navigation ul li.nav-link a:hover {
  color: #807c9e;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
  }
}

.centered-navigation li.logo.nav-link {
  display: none;
  line-height: 0;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation li.logo.nav-link {
    display: inline;
  }
}

.centered-navigation .logo {
  text-transform: uppercase;
  font-weight: bolder;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.2em;
  padding-top: 20px;
  vertical-align: top;
  font-size: 12px;
}

.centered-navigation .logo a {
  color: #807c9e;
}

.centered-navigation .right .rhand-nav {
  color: rgb(170, 170, 191);
  font-size: 12px;
}

.centered-navigation .logo span {
  color: #F78373;
}

.centered-navigation li.more.nav-link {
  padding-right: 0;
}

.rhand-nav {
  float: right;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation li.more.nav-link {
    padding-right: 1em;
  }
}

.centered-navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}

.centered-navigation li.more.nav-link a {
  margin-right: 1em;
}

.centered-navigation li.more.nav-link > a {
  padding-right: 0.6em;
}

.centered-navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  color: rgb(133, 130, 154);
  content: "\25BE";
}

.centered-navigation li.more {
  overflow: visible;
  padding-right: 0;
}

.centered-navigation li.more a {
  padding-right: 1em;
}

.centered-navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation li.more > a {
    margin-right: 1em;
  }
}

.centered-navigation li.more > a:after {
  content: "›";
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}

.centered-navigation li.more:focus > .submenu,
.centered-navigation li.more:hover > .submenu {
  display: block;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation li.more {
    padding-right: 1em;
    position: relative;
  }
}

.centered-navigation ul.submenu {
  display: none;
  padding-left: 0;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}

@media screen and (min-width: 53.75em) {
  .centered-navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}

.centered-navigation ul.submenu li {
  display: block;
  padding-right: 0;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation ul.submenu li {
    line-height: 46.15385px;
  }
  .centered-navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .centered-navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: .7em;
  }
}

.centered-navigation ul.submenu li a {
  background-color: #f7f7f7;
  display: inline-block;
  text-align: right;
  text-decoration: none;
  width: 100%;
}

@media screen and (min-width: 53.75em) {
  .centered-navigation ul.submenu li a {
    background-color: #fff;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}

.parallax-window {
  max-height: 100%;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.parallax-static-content {
  position: relative;
  z-index: 9;
}

.parallax-background-home, .parallax-background-zc {
  background-position: top;
  background-size: cover;
  background-color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: -33.33333%;
  width: 100%;
  opacity: 0.3;
}

.parallax-background-home {
  background: url("../assets/hero-pattern.png") repeat;
  background-size: 68%;
}

.parallax-background-zc {
  background: url("../assets/hero-pattern.png") repeat;
}

.parallax-background-hobbyicons {
  background: url("../assets/icon-leglamp.png") repeat;
}

.grid-items {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3em;
}

.grid-items::after {
  clear: both;
  content: "";
  display: table;
}

.grid-items::after {
  clear: both;
  content: "";
  display: table;
}

.grid-items .grid-item {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #6b83a6;
  border-bottom: 9px solid white;
  border-left: 4.5px solid white;
  border-right: 4.5px solid white;
  border-top: 0;
  cursor: pointer;
  float: left;
  height: 18em;
  overflow: hidden;
  outline: none;
  padding: 2em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item {
    width: 25%;
  }
}

.grid-items .grid-item:nth-child(1) {
  background-color: #6b83a6;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(2) {
  background-color: #3581A5;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(3) {
  background-color: #5FBEBE;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(4) {
  background-color: #98C79A;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(5) {
  background-color: #A7A891;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(6) {
  background-color: #BDCC97;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(7) {
  background-color: #979EA0;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(8) {
  background-color: #979EA0;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(9) {
  background-color: #71734c;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(10) {
  background-color: #979EA0;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(11) {
  background-color: #c067d6;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(12) {
  background-color: #c067d6;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(13) {
  background-color: #c067d6;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item:nth-child(14) {
  background-color: #c067d6;
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item img {
  display: block;
  height: 3em;
  margin: 0 auto 1em;
}

.grid-items .grid-item h1 {
  color: white;
  font-size: 1.3em;
  margin-bottom: 0.4em;
}

.grid-items .grid-item h2, .grid-items h3 {
  color: white;
}

.grid-items .grid-item p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5em;
  margin: auto;
}

@media screen and (min-width: 40em) {
  .grid-items .grid-item p {
    max-width: 70%;
  }
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-big {
    width: 50%;
  }
}

.grid-items .grid-item-image-1 {
  background: url("../assets/icons-midcentury-furniture-sm-mobile.jpg");
}

.grid-items .grid-item-image-1:hover {
  background: url("../assets/learn-more-sm.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-1 {
    background: url("../assets/icons-midcentury-furniture-sm.jpg");
  }
}

.grid-items .grid-item-image-2 {
  background: url("../assets/icon-daruma.png");
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item-image-2:hover {
  background: url("../assets/learn-more-sm.svg");
}

.grid-items .grid-item-image-3 {
  background: url("../assets/atxnerdyladies-sm-mobile.jpg");
}

.grid-items .grid-item-image-3:hover {
  background: url("../assets/learn-more-sm.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-3 {
    background: url("../assets/atxnerdyladies-sm.jpg");
  }
}

.grid-items .grid-item-image-4 {
  background: url("../assets/icon-daruma-sm.jpg");
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item-image-4:hover {
  background: url("../assets/learn-more-sm.svg");
}

.grid-items .grid-item-image-5 {
  background: url("../assets/rocket-hero-sm-mobile.jpg");
}

.grid-items .grid-item-image-5:hover {
  background: url("../assets/learn-more-sm.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-5 {
    background: url("../assets/rocket-hero-sm.jpg");
  }
}

.grid-items .grid-item-image-6 {
  background: url("../assets/bonsai-sm1.jpg");
}

.grid-items .grid-item-image-6:hover {
  background: url("../assets/learn-more-sm.svg");
}

.grid-items .grid-item-image-7 {
  background: url("../assets/makersquare-sm-mobile.jpg");
}

.grid-items .grid-item-image-7:hover {
  background: url("../assets/learn-more.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-7 {
    background: url("../assets/makersquare-sm.jpg");
  }
}

.grid-items .grid-item-image-8 {
  background: url("../assets/anyperk-sm-mobile.jpg");
}

.grid-items .grid-item-image-8:hover {
  background: url("../assets/learn-more.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-8 {
    background: url("../assets/anyperk-sm.jpg");
  }
}

.grid-items .grid-item-image-9 {
  background: url("../assets/kome-menuicons-sm-mobile.jpg");
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item-image-9:hover {
  background: url("../assets/learn-more-sm.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-9 {
    background: url("../assets/kome-sm.jpg");
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
}

.grid-items .grid-item-image-10 {
  background: url("../assets/icon-ramen-sm.jpg");
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item-image-10:hover {
  background: url("../assets/learn-more-sm.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-10 {
    background: url("../assets/icon-ramen-sm.jpg");
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
}

.grid-items .grid-item-image-11 {
  background: url("../assets/ap_sm2.png");
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item-image-11:hover {
  background: url("../assets/learn-more-sm.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-11 {
    background: url("../assets/ap_sm2.png");
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
}

.grid-items .grid-item-image-12 {
  background: url("../assets/bonsai-sm3.jpg");
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item-image-12:hover {
  background: url("../assets/learn-more-sm.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-12 {
    background: url("../assets/bonsai-sm3.jpg");
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
}

.grid-items .grid-item-image-13 {
  background: url("../assets/bonsai-sm4.jpg");
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item-image-13:hover {
  background: url("../assets/learn-more-sm.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-13 {
    background: url("../assets/bonsai-sm4.jpg");
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
}

.grid-items .grid-item-image-14 {
  background: url("../assets/zc_snacks_sm.jpg");
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item-image-14:hover {
  background: url("../assets/learn-more.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-14 {
    background: url("../assets/zc_snacks_sm.jpg");
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
}

.grid-items .grid-item-image-15 {
  background: url("../assets/ap_sm3.png");
  box-shadow: inset 0px 0px 1px 2px #ededed;
}

.grid-items .grid-item-image-15:hover {
  background: url("../assets/learn-more-sm.svg");
}

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-image-15 {
    background: url("../assets/ap_sm3.png");
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
}

.grid-items .description {
  display: none;
}

.bullets-wrapper, .hero-wrapper {
  max-width: 68em;
  text-align: center;
  padding: 0 10% 0 10%;
  padding-top: 3em;
  padding-bottom: 4.5em;
}

.bullets-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (min-width: 53.75em) {
  .bullets-wrapper {
    text-align: left;
  }
}

.bullets-wrapper .hero-blurb h2 {
  display: inline-block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

@media screen and (min-width: 53.75em) {
  .bullets-wrapper .portrait {
    float: left;
    display: block;
    width: 20%;
  }
}

.bullets-wrapper .hero-blurb {
  float: left;
  display: block;
  width: 100%;
}

.bullets-wrapper .hero-blurb:last-child {
  margin-right: 0;
}

@media screen and (min-width: 53.75em) {
  .bullets-wrapper .hero-blurb {
    float: left;
    display: block;
    width: 72%;
  }
}

.bullets-wrapper img {
  max-width: 170px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0px 2px 10px #bbb;
}

.project-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 18%;
  text-align: left;
  padding-top: 4em;
}

.project-container::after {
  clear: both;
  content: "";
  display: table;
}

.image-container img {
  margin-bottom: 3em;
  max-width: 704px;
}

.image-container .img-sm {
  max-width: 600px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

h3 {
  font-family: "proxima-nova","helvetica", sans-serif;
  color: rgba(128, 124, 158, 0.7);
  font-size: 16px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-bottom: 1em;
}

p {
  line-height: 1.5;
  font-size: 14px;
}

a {
  color: #807c9e;
  font-weight: bold;
  text-decoration: none;
}

.sub-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

.sub-nav-container::after {
  clear: both;
  content: "";
  display: table;
}

.sub-nav-container a {
  font-weight: normal;
  font-size: .75em;
}

.sub-nav-container li {
  list-style: none;
}

.sub-nav-container .sub-navPrevious, .sub-nav-container .sub-navNext {
  display: inline-block;
}

.sub-nav-container .sub-navBack {
  float: left;
}

.sub-nav-container .sub-nav-projects {
  float: right;
}

footer {
  min-height: 2em;
  padding: 1% 8%;
}

footer h2 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding-bottom: 0.5em;
}

footer p {
  font-size: 9px;
  text-transform: uppercase;
  color: #8D8AA7;
}

footer a {
  color: #f78373;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: inline;
  margin-left: 3px;
}

.social ul {
  padding-left: 0;
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.social ul li {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.social ul a {
  display: inline-block;
  color: transparent;
  width: 15px;
  height: 15px;
  margin-left: 0;
}

.right .social a {
  display: inline-block;
  color: transparent;
  width: 15px;
  height: 15px;
  margin-left: 0;
}

#email {
  background-image: url(../assets/email-icon.svg);
  background-size: 15px 15px;
}

#twitter {
  background-image: url(../assets/twitter-icon.svg);
  background-size: 15px 15px;
}

#instagram {
  background-image: url(../assets/instagram-icon.svg);
  background-size: 15px 15px;
}

#dribbble {
  background-image: url(../assets/dribbble-icon.svg);
  background-size: 15px 15px;
}

#github {
  background-image: url(../assets/github-icon.svg);
  background-size: 15px 15px;
}

#tumblr {
  background-image: url(../assets/tumblr-icon.svg);
}

#facebook {
  background-image: url(../assets/facebook-icon.svg);
}

#linkedin {
  background-image: url(../assets/linkedin-icon.svg);
  background-size: 15px 15px;
}

#behance {
  background-image: url(../assets/behance-icon.svg);
}

#flickr {
  background-image: url(../assets/flickr-icon.svg);
}

body {
  background-color: #fff;
  color: #807c9e;
  margin: 0;
}

hr {
  width: 85%;
  border-top: 1px dotted #ccc;
}

.grid_card_wrapper {
  float: left;
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 32px;
}

.grid_card_wrapper .grid_card_description {
  width: calc(60% - 16px);
}

@media only screen and (min-width: 1021px) {
  .grid_card_wrapper .grid_card_description {
    width: calc(33% - 16px);
  }
}

.grid_card_wrapper a.link_block {
  display: inline-block;
  width: calc(66%);
  margin: 0 0 0 auto;
}

figure {
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-margin-before: 0;
  -webkit-margin-after: 2em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 40px;
}

.grid_card_wrapper figure {
  height: auto;
  transition: all 0.25s ease-in-out;
}

figure img {
  transition: all 0.25s ease-in-out;
  position: relative;
  width: 100%;
  margin: 0 0 0 0;
}

figure img:hover {
  box-shadow: 0 10px 10px #aaa;
}

.lazy {
  background-color: #fff;
  height: inherit;
}

.grid_card_wrapper img {
  float: center;
  height: auto;
  width: 100%;
  padding: none;
  vertical-align: top;
  display: inline;
}

.container {
    margin: 0 auto;
    padding: 0 8%;
    box-sizing: border-box;
}







